body{
    margin:0;
}

img.perfil{
margin-top:10px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius:100%;
}

h1{
 text-align:center;
 font-family:Arial;

}

p{
    font-family:Arial;
    text-align:center;
}



b{

 font-family:Arial;
}

a{
 font-family:Saira Extra Condensed;
}


}

b{
 text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
  }